.App {
  text-align: center;
}
.container {
  box-shadow: 10px 10px 8px #888888;
  margin: 15vw;
}
.box-user img {
  border-radius: 50%;
}
.box-user p {
  font-size: 25px;
  font-weight: bold;
}
.box-user {
  margin-bottom: 2vw;
}
.contact-list {
  margin-bottom: 3vw;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 5vw;
}
.list p{
  color: black;
  margin-left: 3vw;
  font-size: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.button {
  border: 1px solid white;
  background-color: black;
  color: white;
  max-width: 8vw;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  align-items: center;
}
